
		{% extends "page.html" %}
		{% block content %}
		<div>

			<div>
				<!-- <form>
					Добавить задачу
					<input class="path_input" name="from" value="A000" size="5">
					.<input class="path_input" name="from_folder" value="/users/"/>
					на
					<input class="path_input" name="to" value="A000"/>
					.
					<input class="path_input" name="to_folder" value="/users/"/>
				</form> -->
			</div>
			
			<div id="tables_container">
				<div id="task_header"><h4>Запросы</h4></div>
			<table  class="task_table">
				<tr id=table_header> <td class="header_td">Время</td> <td class="header_td">Логин</td>  <td class="header_td">Компьютер</td><td class="header_td">Статус</td><td class="header_td">IP</td></tr>
			{% for request in request_list %}
				
					<tr class="table_data_row">
						<td class="table_data_cell">
							{{request.request_time}}
						</td>
						<td class="table_data_cell">
							{{request.username}}
						</td>
						<td class="table_data_cell">
							<a href="{{request.glpi_link}}">{{request.computername}}</a>
						</td>
						<td class="table_data_cell">
							{{request.status}}
						</td>
						<td class="table_data_cell"><a class="iplink">{{request.ip}}</a></td>
						<td>
							<!-- {{request.old}} -->
						</td>
					</tr>				
			{% endfor%}
			<tr><td></td></tr>
			</table>
			<br>
			
		</div>

		{% endblock %}
	</div> <!-- tab container -->
	</body>
</html>